@model Cure_Me.Areas.Admin.ViewModels.AdminIndex

@{
    ViewBag.Title = Model.Admin.Name;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/page/bootstrap-fileinput.js"></script>
@if (ViewBag.msg != "")
{
    <div class="note note-success">
        <p>@ViewBag.msg</p>
        @{Cure_Me.Areas.Admin.Controllers.ProfilesController.resetViewBagMessages();}
    </div>
}
@if (ViewBag.err != "")
{
    <script>
    (function foo(){
        window.location.href = "#tab_3_3";
    })()
    </script>
    <div class="note note-danger">
        <p>@ViewBag.err</p>
        @{Cure_Me.Areas.Admin.Controllers.ProfilesController.resetViewBagMessages();}
    </div>
}
<div class="profile">
    <div class="tabbable-line tabbable-full-width">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_1_1" data-toggle="tab"> Overview </a>
            </li>
            <li>
                <a href="#tab_1_3" data-toggle="tab"> Account </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1_1">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled profile-nav">
                            <li>
                                <img src="~/Areas/Admin/Content/Avatar/@Model.Admin.Image_name" class="img-responsive pic-bordered" alt="" />
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-8 profile-info">
                                <h1 class="font-green sbold uppercase">@Model.Admin.Name</h1>
                                <p>
                                    @Model.Admin.About
                                </p>
                                <ul class="list-inline">
                                    <li>
                                        <i class="glyphicon glyphicon-calendar"></i> @Model.Admin.Age year old
                                    </li>
                                    <li>
                                        <i class="glyphicon glyphicon-user"></i> @Model.Admin.Gender
                                    </li>
                                    <li>
                                        <i class="glyphicon glyphicon-envelope"></i> @Model.Admin.Email
                                    </li>
                                </ul>
                            </div>
                            <!--end col-md-8-->
                            <div class="col-md-4">
                                <div class="portlet sale-summary">
                                    <div class="portlet-title">
                                        <div class="caption font-red sbold">Personal Information</div>
                                    </div>
                                    <div class="portlet-body">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="sale-info">
                                                    Name
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </span>
                                                <span class="sale-num"> @Model.Admin.Name</span>
                                            </li>
                                            <li>
                                                <span class="sale-info">
                                                    Age
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </span>
                                                <span class="sale-num">@Model.Admin.Age </span>
                                            </li>
                                            <li>
                                                <span class="sale-info">
                                                    Gender
                                                    <i class="glyphicon glyphicon-tag"></i>
                                                </span>
                                                <span class="sale-num">@Model.Admin.Gender </span>
                                            </li>
                                            <li>
                                                <span class="sale-info">
                                                    Phone
                                                    <i class="glyphicon glyphicon-phone-alt"></i>
                                                </span>
                                                <span class="sale-num">@Model.Admin.Phone </span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--end col-md-4-->
                        </div>
                        <!--end row-->
                    </div>
                </div>
            </div>
            <!--tab_1_2-->
            <div class="tab-pane" id="tab_1_3">
                <div class="row profile-account">
                    <div class="col-md-3">
                        <ul class="ver-inline-menu tabbable margin-bottom-10">
                            <li class="active">
                                <a data-toggle="tab" href="#tab_1_1">
                                    <i class="glyphicon glyphicon-pencil"></i> Personal info
                                </a>
                                <span class="after"> </span>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab_2_2">
                                    <i class="glyphicon glyphicon-picture"></i> Change Avatar
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab_3_3">
                                    <i class="glyphicon glyphicon-lock"></i> Change Password
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div id="tab_1_1" class="tab-pane active">
                                @using (Html.BeginForm("AdminEditDetails", "Profiles", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.Admin.Name, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.Admin.Name, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.Admin.Email, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.Admin.Email, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.Admin.Age, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.Admin.Age, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.Admin.Phone, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.Admin.Phone, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.Admin.About, new { @class = "control-label" })
                                        @Html.TextAreaFor(x => x.Admin.About, new { @class = "form-control" })
                                    </div>
                                    @Html.HiddenFor(x => x.Admin.Admin_Id)
                                    @Html.HiddenFor(x => x.Admin.Gender)
                                    @Html.HiddenFor(x => x.Admin.Password)
                                    @Html.HiddenFor(x => x.Admin.isDeleted)
                                    @Html.HiddenFor(x => x.Admin.Image_name)
                                    @Html.HiddenFor(x => x.Admin.Image_url)

                                    <div class="margiv-top-10">
                                        <input type="submit" value="Save Changes" class="btn green" />
                                        <input type="reset" value="Cancel" class="btn default" />
                                    </div>
                                }
                            </div>
                            <div id="tab_2_2" class="tab-pane">
                                @using (Html.BeginForm("AdminUpdateAvatar", "Profiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="form-group">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"> </div>
                                            <div>
                                                <span class="btn red btn-outline btn-file">
                                                    <span class="fileinput-new"> Select image </span>
                                                    <span class="fileinput-exists"> Change </span>
                                                    <input type="file" name="ImageUrl" />
                                                </span>
                                                <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="margin-top-10">
                                        <input type="submit" class="btn green" value="Change Avatar" />
                                        <input type="reset" class="btn default" value="Cancel" />
                                    </div>
                                    @Html.HiddenFor(x => x.Admin.Admin_Id)
                                }
                            </div>
                            <div id="tab_3_3" class="tab-pane">
                                @using (Html.BeginForm("AdminUpdatePassword", "Profiles", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.OldPassword, new { @class = "control-label" })
                                        @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.NewPassword, new { @class = "control-label" })
                                        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.CnfrmPassword, new { @class = "control-label" })
                                        @Html.PasswordFor(x => x.CnfrmPassword, new { @class = "form-control" })
                                    </div>
                                    <div class="margin-top-10">
                                        <input type="submit" class="btn green" value="Change Password" />
                                        <input type="reset" class="btn default" value="Cancel" />
                                    </div>
                                    @Html.HiddenFor(x => x.Admin.Admin_Id)
                                }
                            </div>
                        </div>
                    </div>
                    <!--end col-md-9-->
                </div>
            </div>
        </div>
    </div>
</div>