@model Cure_Me.ViewModels.PatientList
@{
    ViewBag.Title = "Patient List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE HEAD-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="glyphicon glyphicon-list font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Patient List </span>
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a class="btn green" href="/Patient" role="button">Add New <i class="icon-plus"></i></a>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                    <thead>
                        <tr>
                            <th> Registration No </th>
                            <th> Full Name </th>
                            <th> Age </th>
                            <th> Phone Number </th>
                            <th> Email </th>
                            <th>View Profile</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patient in Model.Patient)
                        {
                            <tr>
                                <td>@Html.ActionLink(patient.RegistrationNo, "Index", "PatientGraphs", new { id = patient.ID }, null) </td>
                                <td> @patient.Name </td>
                                <td> @patient.Age </td>
                                <td> @patient.Phone </td>
                                <td class="center"> @patient.Email </td>
                                <td>@Html.ActionLink("View", "Index", "PatientGraphs", new { id = patient.ID }, new { @class = "btn btn-sm grey-salsa btn-outline" }) </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE BASE CONTENT -->
